* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #42e2a5, #7a42b9);
  background-repeat: no-repeat;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
}
h1 {
  background: -webkit-linear-gradient(135deg, #07aff1, #310e69);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
h1 span {
  font-weight: 400;
  -webkit-text-fill-color: rgb(222, 227, 228);
  text-transform: lowercase;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-input,
.add-task-button {
  font-size: 1.2rem;
  line-height: 2.3rem;
  background-color: white;
  border: none;
  outline: none;
}
.task-input {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  min-width: 35%;
  max-width: 42%;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: rgb(199, 229, 236);
}
.add-task-button {
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #f32c09;
  background-color: rgb(199, 229, 236);
  transition: 0.4s;
}
.add-task-button:hover {
  background-color: #f32c09;
  color: #fff;
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list {
  min-width: 42%;
}
.todo-list .todo-task {
  background-color: rgb(199, 229, 236);
}
.todo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;
  transition: 0.5s;
}
.todo-item {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 2.3rem;
  background-color: rgb(199, 229, 236);
  border: none;
  outline: none;
}
.complete-btn,
.trash-btn,
.edit-btn {
  background-color: #d84a31;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  padding: 1rem;
}
.fas {
  pointer-events: none;
}
.complete-btn {
  background-color: rgba(79, 201, 79, 0.822);
}
.edit-btn {
  background-color: rgb(73, 93, 184);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall-down {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  appearance: none;
  outline: none;
  border: none;
  width: 11rem;
  cursor: pointer;
  padding: 1rem;
  background-color: rgb(170, 218, 230);
}
.select {
  margin: 1rem 2rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #cf3347ee;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}
.select:hover::after {
  background-color: #c02d40f8;
}
select > option {
  padding: 1rem;
  font-size: 1.2rem;
  background-color: rgb(119, 162, 187);
}
@media (orientation: portrait) {
  form {
    margin: 1rem;
  }
  .task-input {
    min-width: 45%;
    margin-left: 0.1rem;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  }
  .task-input,
  select {
    font-size: 0.8rem;
  }
  .add-task-button {
    font-size: 1.6rem;
    padding: 0.2rem;
  }
  .add-task-button:hover {
    background-color: rgb(199, 229, 236);
    color: #f32c09;
  }
  .select {
    min-width: 20%;
    max-width: 30%;
    margin: 0 0 0 0.6rem;
  }
  .select::after {
    padding: 0.8rem 0.1rem;
  }
  .filter-todo {
    font-size: 0.8rem;
    padding: 0.9rem;
  }
  select > option {
    padding: 0.4rem;
    font-size: 0.7rem;
  }

  .todo-list {
    min-width: 90%;
    max-width: 95%;
  }
  .todo-task {
    font-size: 1rem;
  }
  .todo-item {
    font-size: 1rem;
  }
  .complete-btn,
  .trash-btn,
  .edit-btn {
    font-size: 0.7rem;
    padding: 0.7rem;
  }
}
